<div class="msg_box2" style="display: none;">
	<div class="msg_head2">
		<div class="close2">x</div>
	</div>
	<div class="msg_wrap2" style="display: none;">
		<div class="msg_body" id="msg_body">
		<div class="msg_a"></div>
			<div class="msg_push"></div>
		</div>
		<form method='post' action="#" id="my_form" name="my_form">
		<input type="text" style="display:none" id="idmarq" value="{{app.user.id}}">
		<div class="msg_footer"><textarea class="msg_input" rows="10" id="chatMessage"></textarea></div>
		</form>
	</div>
</div>