

{# app/Resources/views/Emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Hi {{ name }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="https://www.kountac.fr/register/confirm/{{ confirmUrl }}"><input style="height:50px; text-align : center; background : #f4a137; border : none; color : black; width : 150px; font-weight: bold; cursor:pointer;" type="button" value="Cliquez ici" name=""></a> ...</a>.

Thanks!