{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <section class="main-container col1-layout">
    <div class="main container">
    	
        <p>Un e-mail a été envoyé à l'adresse {{ user.email }}. Il contient un lien d'activation sur lequel il vous faudra cliquer afin d'activer votre compte; Toutefois consultez vos spams si vous ne trouvez pas de mails dans votre boite principale. <br><br>
        Cordialement.
        </p>
    </div>
</section>
{% endblock fos_user_content %}
