{% for categorie in categories %}
    <li class="megamenu"><a> {{ categorie.nom }} </a>
        <div class="mega-menu"> 
            {% for souscategorie in categorie.children %}
            <span> 
                <a class="mega-title"> {{ souscategorie.nom }} </a> 
                {% for souscategorie2 in souscategorie.children %}
                    <a> {{ souscategorie2.nom }} </a> 
                {% endfor %}
                    <a href="{{ path('new_categorie', { 'categorie' : souscategorie.id}) }}"> Nouveautés </a> 
                    <a> Déstockages </a> 
            </span>
            {% endfor %}
        </div>
    </li>
{% endfor %}