<div class="footer-links">
    <h3 class="links-title">Collections<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
    <div class="tabBlock" id="TabBlock-4">
        <ul class="list-links list-unstyled">
            {% for collection in collections %}
                <li> <a href="{{ path('collection', { 'collection' : collection.id}) }}">{{ collection.nom|capitalize }}</a> </li>
            {% endfor %}
        </ul>
    </div>
</div>