<div class="footer-links">
    <h3 class="links-title">Information<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
    <div class="tabBlock" id="TabBlock-1">
        <ul class="list-links list-unstyled">
            <!--li><a href="#s">Delivery Information</a></li>
            <li><a href="#">Discount</a></li-->
            <li><a href="#">Notre histoire</a></li>
            <li><a href="#">Nos objectifs</a></li>
            <li><a href="#">Termes &amp; Conditions</a></li>
        </ul>
    </div>
</div>