<h3 class="links-title">Nous contacter :</h3>
<div class="footer-content">
    <div class="email"> <i class="fa fa-envelope"></i>
        <p>contact@kountac.fr</p>
    </div>
    <div class="phone"> <i class="fa fa-phone"></i>
        <p>(+33) 644 784 429</p>
    </div>
    <div class="address"> <i class="fa fa-map-marker"></i>
        <p> 12 rue de Valois, 91940, Les Ulis, France</p>
    </div>
</div>
