<h3 class="links-title">Nous contacter</h3>
<div class="footer-content">
    <div class="email"> <i class="fa fa-envelope"></i>
        <p>contact@kountac.fr</p>
    </div>
    <div class="phone"> <i class="fa fa-phone"></i>
        <p>(+33)7 83 77 03 22</p>
    </div>
    <div class="address"> <i class="fa fa-map-marker"></i>
        <p>12 rue de Valois<br>91940 Les Ulis<br> France</p>
    </div>
</div>
