<div class="block block-language form-language">
    <div class="lg-cur"> <span> <img src="{{ asset('images/flag-default.jpg') }}" alt="français"> <span class="lg-fr">Français</span> <i class="fa fa-angle-down"></i> </span> </div>
    <ul>
        <li> <a class="selected" href="#"> <img src="{{ asset('images/flag-english.jpg') }}" alt="english"> <span>English</span> </a> </li>
    </ul>
</div>