<div class="footer-links">
    <h3 class="links-title">Information<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
    <div class="tabBlock" id="TabBlock-1">
        <ul class="list-links list-unstyled">
            <li><a href="#s">Delivery Information</a></li>
            <li><a href="#">Discount</a></li>
            <li><a href="sitemap.html">Sitemap</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="faq.html">FAQs</a></li>
            <li><a href="#">Terms &amp; Condition</a></li>
        </ul>
    </div>
</div>