{% if commentaire.titre == 'excellent' %}
    <div class="rating"> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i>
    </div>
{% elseif commentaire.titre == 'tres_bien' %}
    <div class="rating"> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i> 
        <i class="fa fa-star-o"></i>
    </div>
{% elseif commentaire.titre == 'bien' %}
    <div class="rating"> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i> 
        <i class="fa fa-star-o"></i>
    </div>
{% elseif commentaire.titre == 'moyen' %}
    <div class="rating"> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i> 
        <i class="fa fa-star-o"></i>
    </div>
{% elseif commentaire.titre == 'mauvais' %}
    <div class="rating"> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star-o"></i> 
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i> 
        <i class="fa fa-star-o"></i>
    </div>
{% elseif commentaire.titre == 'tres_mauvais' %}
    <div class="rating"> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star-o"></i> 
        <i class="fa fa-star-o"></i> 
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i> 
        <i class="fa fa-star-o"></i>
    </div>
{% endif %}